html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/planets.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
}

#Mercury {
  margin-left: 21vw;
  margin-top: 54vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
}

#Venus {
  margin-left: 25.5vw;
  margin-top: -5vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
  background-image: url('./assets/venusgif.gif');
  background-position: center;
  background-size: cover;
}

#Earth {
  margin-left: 31.5vw;
  margin-top: -5vh;
  height: 6.5vh;
  width: 3vw;
  opacity: 1;
  background-image: url('./assets/earthgif.gif');
  background-position: center;
  background-size: cover;
}

#Mars {
  margin-left: 37vw;
  margin-top: -6vh;
  height: 6vh;
  width: 3vw;
  opacity: 1;
  background-image: url('./assets/marsgif.gif');
  background-position: center;
  background-size: cover;
}

#Jupiter {
  margin-left: 42.5vw;
  margin-top: -16vh;
  height: 27vh;
  width: 13vw;
  opacity: 1;
  background-image: url('./assets/jupitergif.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#Saturn {
  background-image: url('./assets/saturngif.gif');
  background-size: cover;
  background-position: center;
  margin-left: 58vw;
  margin-top: -28vh;
  height: 28vh;
  width: 18vw;
}

#Uranus {
  background-image: url(./assets/uranusgif.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 75vw;
  margin-top: -18vh;
  height: 10vh;
  width: 8vw;
}

#Neptune {
  background-image: url('./assets/neptunegif.gif');
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 84vw;
  margin-top: -12vh;
  height: 15vh;
  width: 8vw;
}

.clickable {
  cursor: pointer;
}

input {
  margin-top: 20vh;
  margin-left: 44vw;
  width: 5vw;
}

#outputAge {
  margin-left: 50vw;
  margin-top: -8vh;
  width: 25vw;
  height: 4vh;
  text-align: right;
  font-size: 18px;
  display:none;
}

#outputLE {
  text-align: right;
  margin-top: 5vh;
  margin-left: 50vw;
  width: 25vw;
  height: 4vh;
  font-size: 18px;
  display:none;
}

#label {
  width: 11vw;
  margin-left: 33vw;
  margin-top: -4.5vh;
  font-size: 22px;
}

#instructions {
  margin-top: -4.2vh;
  margin-left: 50vw;
  font-size: 22px;
}