html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/planets.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
}

#Mercury {
  margin-left: 21vw;
  margin-top: 54vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
}

#Venus {
  margin-left: 25.5vw;
  margin-top: -5vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
}

#Earth {
  margin-left: 31.5vw;
  margin-top: -5vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
}

#Mars {
  margin-left: 37vw;
  margin-top: -5vh;
  height: 5vh;
  width: 3vw;
  opacity: 1;
}

#Jupiter {
  margin-left: 42.5vw;
  margin-top: -16vh;
  height: 25vh;
  width: 13vw;
  opacity: 1;
}

#Saturn {
  margin-left: 61vw;
  margin-top: -24vh;
  height: 25vh;
  width: 13vw;
}

#Uranus {
  margin-left: 77vw;
  margin-top: -18vh;
  height: 10vh;
  width: 5vw;
}

#Neptune {
  margin-left: 85vw;
  margin-top: -10vh;
  height: 10vh;
  width: 5vw;
}

.clickable {
  cursor: pointer;
}

input {
  margin-top: 20vh;
  margin-left: 44vw;
  width: 5vw;
}

#outputAge {
  margin-left: 50vw;
  margin-top: -8vh;
  width: 25vw;
  height: 4vh;
  text-align: right;
  font-size: 18px;
  display:none;
}

#outputLE {
  text-align: right;
  margin-top: 5vh;
  margin-left: 50vw;
  width: 25vw;
  height: 4vh;
  font-size: 18px;
  display:none;
}

#label {
  width: 11vw;
  margin-left: 33vw;
  margin-top: -4.5vh;
  font-size: 22px;
}

#instructions {
  margin-top: -4.2vh;
  margin-left: 50vw;
  font-size: 22px;
}